/* src/index.css or App.css */

body {
  background-image: url('C:\Users\Tejas\Desktop\React\agroconnect-frontend\public\agro3.jpeg'); /* Add your image path */
  background-size: cover; /* Make sure the image covers the entire page */
  background-position: center; /* Center the image */
  background-attachment: fixed; /* Make the background fixed */
  margin: 0;
  font-family: Arial, sans-serif; /* You can adjust the font family as per your need */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: rgba(255, 255, 255, 0.8); /* Optional, for readability */
  padding: 20px;
  border-radius: 8px;
}
